{% include base_path %}

<!-- start custom head snippets -->

<link rel="apple-touch-icon" href="{{ base_path }}/images/apple-touch-icon.png?v=tian2">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png?v=tian2">
<link rel="icon" type="image/png" sizes="96x96" href="{{ base_path }}/images/favicon-96x96.png?v=tian2">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16x16.png?v=tian2">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=tian2">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=tian2" color="#2b5b8c">
<link rel="shortcut icon" href="/images/favicon.png?v=tian2">
<meta name="msapplication-TileColor" content="#2b5b8c">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/style.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
